<ng-template #loader>
  <p>Loading...</p>
</ng-template>

<div *ngIf="form; else loader">
  <form [formGroup]="form" (submit)="submit()">
    <div
      class="form-control"
      [ngClass]="{'invalid': form.get('title').touched && form.get('title').invalid}"
    >
      <label for="title">Post title:</label>
      <input id="title" type="text" formControlName="title" (ngModelChange)="changed = true">
      <div
        class="validation"
        *ngIf="form.get('title').touched && form.get('title').invalid"
      >
        <small *ngIf="form.get('title').errors.required">
          Please enter post title
        </small>
      </div>
    </div>

    <div class="form-control">
      <quill-editor formControlName="text" (ngModelChange)="changed = true"></quill-editor>
    </div>

    <button
      class="btn btn-primary"
      type="submit"
      [disabled]="!changed"
    >Save changes</button>
  </form>
</div>
